/*MainLayout*/

.nav-wrapper {

  background-color: black;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#player{
  height: 100%;
  width: 100%;
}
