/*MainLayout*/

.nav-wrapper {

  background-color: black;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#player{
  height: 100%;
  width: 100%;

}

.trackImage{
  width: 100%;
  height: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    float: left;
}

audio{
    display: inline-block;;

  width 1200px;
}

a.card:hover{

}
